#quote-box {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transform: translateY(200px);
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.blockquote {
  margin-top: 20px;
  margin-bottom: 40px;
}

.blockquote footer {
  color: inherit;
}

.blockquote > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-list {
  margin-bottom: 20px;
}

#new-quot, #tweet-quote {
  width: 200px;
  margin-left: 10px;
}

.button-list {
  display: flex;
  justify-content: center;
}